/** Stylus Styles */
@import "../../../node_modules/bootstrap/dist/css/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";


@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $red.darken-2
  accent: $red.accent-2
  secondary: $grey.lighten-1
  info: $blue.lighten-1
  warning: $amber.darken-2
  error: $red.accent-4
  //success:$red.accent-2
  //rir:$amber.darken-2
  //test:$green.darken-4
  success: $green.darken-4
}

 @import '../../node_modules/vuetify/src/stylus/main'

.override {
  .application--wrap {
    margin-top: 0px;
  }
}

.custom-loader {
  animation: loader 1s infinite;
  display: flex;
  color: "green.darken-4"
}

@-moz-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


